# Node
node_modules/
dist/
# pnpm-lock.yaml

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Editor configs
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
/src/generated/prisma
